#divButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-mdc-table .mdc-data-table__row:hover{
    background-color: rgba(236, 236, 236, 0.514) !important;
}

// TODO : J'aimais pas la gueule du paginator donc j'ai caché des trucs, libre à toi de changer
// surtout que !important c'est pas fou à utiliser normalement
::ng-deep .mat-mdc-paginator-page-size, ::ng-deep .mat-mdc-paginator-range-label{
    display: none !important;
}

.full-width{
    width: 100%;
    font-size: 1.6em;
}

.arrow {
    width: 17%;
    font-size: 1.6em;
}

.info-box {
    background-color: #f0f0f0; /* Couleur de fond */
    border: 1px solid #ccc; /* Bordure */
    padding: 8px; /* Espacement intérieur */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Ombre */
    color: #333; /* Couleur du texte */
    text-align: center;
}

.to-right {
    float: right;
}