<mat-paginator
  #paginator
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [length]="totalRecords"
  [hidePageSize]="true"
  style="display: none;">
</mat-paginator>
<div *ngIf="tableIsActive">
  <div *ngIf="paginator.length != 0; else elseBlock" id="divButton">
    <button class="arrow" [disabled]="!paginator.hasPreviousPage()" mat-raised-button color="primary" (click)="paginator.previousPage()"><</button>
    <div class="info-box">
      {{ paginator.pageIndex * paginator.pageSize + min(totalRecords,1) }}
      -
      {{ min(totalRecords,((paginator.pageIndex+1) * paginator.pageSize)) }}
      / {{ totalRecords }}
    </div>
    <button class="arrow" [disabled]="!paginator.hasNextPage()" mat-raised-button color="primary" (click)="paginator.nextPage()">></button>
  </div>
  <ng-template #elseBlock><div class="info-box">Aucun arc dans ce tube, ajoutez en un!</div></ng-template>

  <table *ngIf="paginator.length != 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Origin Column -->
    <ng-container matColumnDef="origin">
      <th mat-header-cell *matHeaderCellDef>Départ</th>
      <td mat-cell *matCellDef="let arc">
        <mat-select
          [value]="arc.origin.name"
          (selectionChange)="arcOrigChange(arc, $event.value)"
        >
          @for (city of instance.cities; track city) {
            <mat-option value="{{ city.name }}">{{ city.name }}</mat-option>
          }
        </mat-select>
      </td>
    </ng-container>

    <!-- Destination Column -->
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef>Arrivée</th>
      <td mat-cell *matCellDef="let arc">
        <mat-select
          [value]="arc.destination.name"
          (selectionChange)="arcDestChange(arc, $event.value)"
        >
          @for (city of instance.cities; track city) {
            <mat-option value="{{ city.name }}">{{ city.name }}</mat-option>
          }
        </mat-select>
      </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef width="5%">Flux</th>
      <td mat-cell *matCellDef="let arc">{{arc.quantity}}</td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef width="5%">Supprimer</th>
      <td mat-cell *matCellDef="let arc">
        <button mat-raised-button color="warn"
        (click)="deleteArc(arc)">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (mouseover)="mouseOverArc(row)" (mouseout)="mouseOutArc(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button type="button" class="full-width" mat-raised-button color="primary" (click)="addArc()">+</button>
</div>

<button class="to-right" type="button" mat-raised-button color="primary" (click)="checkSolution()">Sauvegarder la solution</button>
