#divButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-mdc-table .mdc-data-table__row:hover{
    background-color: rgba(236, 236, 236, 0.514) !important;
}

// TODO : J'aimais pas la gueule du paginator donc j'ai caché des trucs, libre à toi de changer
// surtout que !important c'est pas fou à utiliser normalement
::ng-deep .mat-mdc-paginator-page-size, ::ng-deep .mat-mdc-paginator-range-label{
    display: none !important;
}