<div class="info-box">
  <input type="checkbox" id="toggleInfo" class="summary-toggle visually-hidden" (change)="toggleInfoBox($event)">
  <label for="toggleInfo" class="summary-label">
    <span class="summary-arrow">&#9658;</span> {{ toggleButtonText }} les détails
  </label>
  <div #infoContent class="info-content">
    <h2>Nombre de congélations</h2>
    <div class="info-container">
      <div class="info">
        Total: {{ totalFreeze }}
        <span class="tooltip">Nombre total de congélations de l'instance.</span>
      </div>
      <div class="info">
        Max: {{ instance.maxFreezes }}
        <span class="tooltip">Nombre maximum de congélations autorisées dans l'instance.</span>
      </div>
      <div class="info" *ngIf="selectedTube.number != -1">
        Tube: {{ selectedTube.arcs.length }}
        <span class="tooltip">Nombre de congélations du tube sélectionné.</span>
      </div>
    </div>
    <h2>Nombre d'aliquotages</h2>
    <div class="info-container">
      <div class="info">
        Total: {{ instance.solution?.nbAlico }}
        <span class="tooltip">Nombre total d'aliquotages de toute la solution.</span>
      </div>
      <div class="info">
      {{ maxAlCity.name }}: {{ maxAlCity.nbAlico }}
      <span class="tooltip">Cette ville est celle où il y a le plus d'aliquotages.</span>
      </div>
      <div class="info" *ngIf="selectedTube.number != -1">
        Tube: {{ selectedTube.nbAlico }}
        <span class="tooltip">Nombre d'aliquotages du tube selectionné.</span>
      </div>
    </div>
    <div *ngIf="selectedTube.number != -1">
      <h2>Volume ({{ selectedTube.type.name }})</h2>
      <div class="info-container">
        <div class="info">
          Tube: {{ selectedTube.volume }} ml
          <span class="tooltip">Volume de {{ selectedTube.type.name }} disponible dans le tube avant tout prélèvement.</span>
        </div>
        <div class="info">
          Demandé: {{ requiredVolume }} ml
          <span class="tooltip">Volume de {{ selectedTube.type.name }} demandé au tube. (Calculé en fonction des arcs présents)</span>
        </div>
      </div>
      <h2>Tube utilisé à</h2>
      <mat-checkbox color="primary" [(ngModel)]="selectedTube.usedByCohorte" (change)="updateTubeCities()">Inclure la cohorte dans la liste</mat-checkbox>
      <div class="info-container">
        <div *ngFor="let city of selectedTube.cities">
          <div class="info"
          (mouseenter)="toggleCityEmphathize(city)"
          (mouseleave)="toggleCityEmphathize(city,false)">
            {{ city.name }}
            <span class="tooltip">
              Demande en {{ selectedTube.type.name }}: {{ cityDemande(city) }} ml<br>
              Nombre d'alico: {{ city.nbAlico }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>