<div class="info-box">
  <input type="checkbox" id="toggleInfo" class="summary-toggle visually-hidden" (change)="toggleInfoBox($event)">
  <label for="toggleInfo" class="summary-label">
    <span class="summary-arrow">&#9658;</span> {{ toggleButtonText }} les détails
  </label>
  <div #infoContent class="info-content" [style.max-height.px]="infoBoxHeight">
    <h2>Nombre max de congélations</h2>
    <div class="info">{{ instanceService.getInstance().maxFreezes }}</div>
    <h2>Nombre d'alicotages</h2>
    <div class="info-container">
      <div class="info">Total: {{ instanceService.getInstance().solution?.nbAlico }}</div>
      <div class="info"  *ngIf="selectedTube.number != -1">
      Tube: {{ selectedTube.nbAlico }}</div>
    </div>
    <div *ngIf="selectedTube.number != -1">
      <h2>Volume</h2>
      <div class="info-container">
        <div class="info">Tube: {{ selectedTube.volume }} ml</div>
        <div class="info">Demandé: {{ requiredVolume }} ml</div>
      </div>
      <h2>Tube utilisé à</h2>
      <mat-checkbox color="primary" [(ngModel)]="selectedTube.usedByCohorte" (change)="updateTubeCities()">Inclure la cohorte dans la liste</mat-checkbox>
      <div class="info-container">
        <div *ngFor="let city of selectedTube.cities">
          <div class="info" (mouseenter)="toggleCityEmphathize(city)" (mouseleave)="toggleCityEmphathize(city,false)">{{ city.name }} ({{ cityDemande(city) }} ml)</div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>