.info-box {
  background-color: #f0f0f0; /* Couleur de fond */
  border: 1px solid #ccc; /* Bordure */
  padding: 8px; /* Espacement intérieur */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Ombre */
  color: #333; /* Couleur du texte */
}

.info-box h2 {
  font-size: 1.3em; /* Taille de police */
  margin-top: 10px; /* Marge supérieure pour l'espacement */
  margin-bottom: 5px; /* Marge inférieure pour l'espacement */
  text-align: center;
}

.info-container {
  display: flex; /* Utiliser flexbox */
  flex-wrap: wrap; /* Permettre le passage à la ligne */
}

.info {
  flex: 1;
  margin-top: 10px; /* Marge supérieure pour l'espacement entre les éléments */
  background-color: #ffffff; /* Couleur de fond */
  border: 1px solid #ccc; /* Bordure */
  padding: 5px; /* Espacement intérieur */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Ombre */
  text-align: center;
  margin-inline: 3px;
  cursor: pointer;
}

.info:hover{
  background-color: #cccccc; /* Couleur de fond */
}

.summary-label {
  display: block; /* Afficher en tant que bloc */
  cursor: pointer;
  padding: 4px; /* Ajouter du rembourrage pour une zone cliquable plus grande */
  width: 100%; /* Adapter la largeur à celle de l'info-box */
}


.summary-arrow {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

#toggleInfo:checked ~ .info-content {
  max-height: unset;
}

#toggleInfo:checked ~ .summary-label .summary-arrow {
  transform: rotate(90deg);
}

.info-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

mat-checkbox {
    /* Style de base */
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 4px;
    cursor: pointer;
    padding-right: 10px; /* Espacement entre le checkbox et le texte */
}

mat-checkbox:hover {
    /* Style au survol */
    background-color: #f0f0f0;
}