.info-box {
  background-color: #f0f0f0; /* Couleur de fond */
  border: 1px solid #ccc; /* Bordure */
  padding: 8px; /* Espacement intérieur */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Ombre */
  color: #333; /* Couleur du texte */
}

.info-box h2 {
  font-size: 1.3em; /* Taille de police */
  margin-top: 10px; /* Marge supérieure pour l'espacement */
  margin-bottom: 5px; /* Marge inférieure pour l'espacement */
  text-align: center;
}

.info-container {
  display: flex; /* Utiliser flexbox */
  flex-wrap: wrap; /* Permettre le passage à la ligne */
  margin: 10px;
}

.info {
  position: relative; /* Nécessaire pour positionner l'infobulle */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  margin-top: 10px; /* Marge supérieure pour l'espacement entre les éléments */
  background-color: #ffffff; /* Couleur de fond */
  border: 1px solid #ccc; /* Bordure */
  padding: 5px; /* Espacement intérieur */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Ombre */
  text-align: center;
  margin-inline: 3px;
  cursor: pointer;
}

.info:hover{
  background-color: #cccccc; /* Couleur de fond */
}

/* Style de l'infobulle */
.info .tooltip {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position de l'infobulle */
  left: 50%;
  margin-left: -100px; /* Centre l'infobulle */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Flèche de l'infobulle */
.info .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Afficher l'infobulle au survol */
.info:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.summary-label {
  display: block; /* Afficher en tant que bloc */
  cursor: pointer;
  padding: 4px; /* Ajouter du rembourrage pour une zone cliquable plus grande */
  width: 100%; /* Adapter la largeur à celle de l'info-box */
}


.summary-arrow {
  display: inline-block;
  transform: rotate(0deg);
}

#toggleInfo:checked ~ .info-content {
  max-height: unset;
  overflow: visible;
}

#toggleInfo:checked ~ .summary-label .summary-arrow {
  transform: rotate(90deg);
}

.info-content {
  max-height: 0;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

mat-checkbox {
    /* Style de base */
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 4px;
    cursor: pointer;
    padding-right: 10px; /* Espacement entre le checkbox et le texte */
}

mat-checkbox:hover {
    /* Style au survol */
    background-color: #d0d0d0;
}